.hero-wrapper{
  width:100%;
  height:85vh;
  position:relative;
}
.slide-text{
  position:absolute;
  top:50%;
  left:80px;
  transform:translateY(-50%);

  max-width:520px;
  color:white;
  z-index:2;
}

.slide-text h1{
  font-size:56px;
  margin-bottom:10px;
  font-weight:700;
}

.slide-text .meta{
  font-size:18px;
  margin-bottom:14px;
  opacity:0.9;
}

.slide-text .desc{
  font-size:16px;
  line-height:1.6;
  opacity:0.85;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
      to right,
      rgba(0,0,0,0.8) 0%,
      rgba(0,0,0,0.6) 25%,
      rgba(0,0,0,0.25) 50%,
      rgba(0,0,0,0) 70%
  );
}