.navbar-glass{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  padding: 10px 40px;

  background: rgba(15,15,15,0.35);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.13);
}

.nav-left img{
  height: 70px;
}

.nav-center ul{
  display:flex;
  justify-content:center;
  gap:40px;
  list-style:none;
}

.nav-center a{
  text-decoration:none;
  color:white;
  font-weight:500;
  letter-spacing:0.5px;
  transition:0.3s;
}

.nav-center a:hover{
  color:#ff6a00;
}

.nav-right{
  display:flex;
  justify-content:flex-end;
}

.logout-btn{
  padding:8px 16px;
  border-radius:8px;
  text-decoration:none;
  color:white;
  background: rgba(255, 0, 68, 0.226);
  border:1px solid rgba(255, 0, 68, 0.541);
  transition:0.3s;
}

.logout-btn:hover{
  background:#ff6a00;
}
